<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <h1>Goodbye</h1>
        <% today = DateTime.now %>
        <p><%=today.strftime("The date is %A, %B %d, %Y")%></p>
    </body>
</html>
